@model IEnumerable<WebApplication8.Models.Employee>

@{
    ViewData["Title"] = "Employees";
    ViewData["page-title"] = "Employees";
}



<div class="row">

    <div class="col-md-12">
        <div class="table-responsive">
            <table id="employeeList" class="table table-striped custom-table mb-0 table-nowrap">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Actions</th>
                        <th>Full Name</th>
                        <th>Position</th>
                        <th>Remark</th>
                        <th>Movie Name</th>
                        <th>SuperStar Name</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                            <a href="#" class="delete_province_button" data-toggle="modal" data-target="#delete_province"
                               data-emp-id="@item.Id">Delete</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SuperStars.name)
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal custom-modal fade" id="delete_province" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Province</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <form id="delete_province_form" method="POST">
                                    @*<input type="hidden" name="_method" value="delete">*@

                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="document.getElementById('delete_province_form').submit();">Delete</a>

                                </form>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

@section  Scripts {
<script>
    $(".delete_province_button").click(function () {
        var pro_id = $(this).attr('data-emp-id');
        var action = '/Employee/Delete/' + pro_id;
        $("#delete_province_form").attr("action", action);
    });
</script>
}